@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-50: #fbf7fd;
  --color-primary-100: #f5edfa;
  --color-primary-200: #eeddf7;
  --color-primary-300: #e0c3ef;
  --color-primary-400: #cd9ce4;
  --color-primary-500: #b976d6;
  --color-primary-600: #aa60c8;
  --color-primary-700: #8f45ab;
  --color-primary-800: #773c8d;
  --color-primary-900: #613271;
  --color-primary-950: #431a51;

  --font-roboto: 'Roboto', sans-serif;
}
